$font-stack: Roboto Slab;
$height: 65%;

html, body {
  font-family: $font-stack;
  background: url('../img/Frost_patterns_2.jpg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  display: compact;
}


.highlight {
  color: white;
}

.tapestry {
  height: $height;
  font-family: $font-stack;
}

.trans {
  background-color: rgba(0,0,0,0.5);
}

.img-lbl {
  color: black;
}

.bio {
  font-size: 17px;
}
.showcase {
  padding-top: 7%;
}
