body {
  font-family: Roboto Slab;
  background-image: url("./img/background.svg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  display: compact;
}

img {
  border-radius: 50px 0px;
  width: 100%
}
