# Include your project-specific ignores in this file
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files

# testing coverage dirs
coverage

# node deps
node_modules

# npm logs
npm-debug.log

*.zip
